.sidebar {
  width: 5rem;
  height: 100%;
  background-color: #eee;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.menu-icon {
  margin-top: 3rem;
  cursor: pointer;
}

.line {
  height: 0.125rem;
  width: 1.5rem;
  background-color: #222;
  margin-bottom: 0.3rem;
}

.line-1,
.line-3 {
  width: 1.2rem;
  transition: all 0.5s;
}

.menu-icon:hover .line {
  width: 1.5rem;
}

.social-icons-list {
  list-style: none;
  padding: 0;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.social-link {
  font-size: 1.5rem;
  color: #777;
  transition: color 0.5s;
}

.social-link:hover {
  color: #deaa86;
}

.back-btn {
  color: #b85d1c;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

/* nav - bar */
.navigation {
  position: fixed;
  left: -35rem;
  margin: 0 0 0 -4rem;
  width: 28rem;
  height: 100%;
  background: linear-gradient(
      to top,
      rgb(40, 41, 32, 0.5),
      rgba(39, 41, 32, 0.8)
    ),
    url(./img/nav-bg.jpeg) center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: left 0.8s cubic-bezier(1, 0, 0, 1);
}

.navigation-heading {
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  color: #deaa86;
  text-align: center;
}

.navigation-search {
  position: relative;
}

.navigation-search-input {
  width: 15rem;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.8rem;
  color: #deaa86;
  letter-spacing: 0.1rem;
  outline: none;
  border: 0.1rem solid #555;
  border-radius: 10rem;
  transition: background-color 0.3s;
}

.navigation-search-btn {
  border: none;
  background-color: transparent;
  color: #deaa86;
  font-size: 1rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}


.navigation-list {
  list-style: none;
  padding: 0;
  height: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navigation-item {
  position: relative;
}

.navigation-link {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.5s;
}

.navigation-link:hover {
  color: #deaa86;
}

.navigation-link:hover::before,
.navigation-link:hover::after {
  width: 3rem;
}

.copyright {
  color: #fff;
  font-size: 0.8rem;
  margin-bottom: 1.5rem;
}

.checkbox:checked ~ .navigation {
  left: 8rem;
}

.checkbox:checked ~ .sidebar .line-1 {
  transform: rotate(-405deg) translate(-5px, 6px);
  width: 2.5rem;
}

.checkbox:checked ~ .sidebar .line-2 {
  opacity: 0;
}

.checkbox:checked ~ .sidebar .line-3 {
  transform: rotate(405deg) translate(-5px, -6px);
  width: 2.5rem;
}

.header {
  margin-left: 4rem;
  height: 100vh;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url(./img/header-1.jpeg) center no-repeat;
  background-size: cover;
}

.brand {
  display: flex;
  cursor: pointer;
}

.hotel-heading {
  font-family: "Josefin Sans", sans-serif;
  padding-left: 2rem;
  font-size: 2rem;
  font-weight: 400;
  color: #ddd;
  letter-spacing: 0.2rem;
  text-decoration: underline;
}

.banner {
  color: #ddd;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-heading {
  font-family: "Josefin Sans", sans-serif;
  font-size: 4.3rem;
  font-weight: 400;
  margin-bottom: 0;
  animation: anim 2s;
  color: #ddd;
}

.banner-paragraph {
  font-size: 2rem;
  font-weight: 187.5;
  animation: anim 1.5s 0.5s backwards;
}

.banner-button {
  width: 10rem;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  color: #333;
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 10rem;
  outline: none;
  background: gold;
  cursor: pointer;
  animation: anim 1s 1s backwards;
}

.banner-button:hover {
  background: linear-gradient(to left, gold, goldenrod);
}

.banner-button:active {
  transform: translateY(0.2rem);
}

@keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about-us {
  margin-left: 4rem;
  display: flex;
  background-color: #ddd;
}

.about-us-content {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem;
  box-sizing: border-box;
}

.about-us-heading {
  font-family: "Josefin Sans", sans-serif;
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #555;
}

.sub-heading {
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  color: #b85d1c;
}

.about-us-paragraph {
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  margin-bottom: 5rem;
}

.about-us-btn {
  width: 15rem;
  padding: 0.7rem 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #b85d1c;
  background-color: transparent;
  border: 0.1rem solid #b85d1c;
  outline: none;
  cursor: pointer;
}

.btn-arrow {
  margin-left: 0.5rem;
  transition: margin-left 0.4s;
}

.about-us-btn:hover .btn-arrow {
  margin-left: 1.5rem;
}

/* Room */

.rooms {
  margin: 2rem 0 0 8rem;
}

.common-heading {
  font-size: 2rem;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
}

.rooms-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.room-card {
  width: 30rem;
  margin: 3.5rem;
  background-color: #15141b;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.3);
}

.room-img {
  width: 100%;
}

.room-card-content {
  color: #ddd;
  padding: 2rem;
}

.room-card-heading {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 300;
  color: #ddd;
}

.room-card-paragraph {
  font-size: 1rem;
  color: #777;
}

.room-price {
  font-size: 3rem;
  font-weight: 300;
  text-align: right;
  margin: 0;
}

.room-card-btn {
  width: 8rem;
  height: 2rem;
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #b85d1c;
  background-color: transparent;
  border: 0.1rem solid #b85d1c;
  border-radius: 10rem;
  outline: none;
  cursor: pointer;
}

.rooms-btn-wrapper {
  text-align: center;
}

.rooms-btn {
  width: 10rem;
  padding: 1.5rem 1rem;
  margin: 4rem 0;
  background-color: transparent;
  text-transform: uppercase;
  color: #b85d1c;
  border: 0.2rem solid #b85d1c;
  outline: none;
  cursor: pointer;
  box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

.rooms-btn:hover {
  color: rgb(255, 255, 255);
  background-color: #a36b44;
  width: 15rem;
  height: 5rem;
  transition: all 1s;
}

/* Footer */
.footer {
  margin-left: 4rem;
}

.main-part {
  display: flex;
  justify-content: space-between;
  background-color: #1c1c1c;
  padding: 2rem 2rem 2rem 7rem;
}

.footer-heading {
  font-size: 1.5rem;
  font-weight: 300;
  color: goldenrod;
  margin: 1rem 0 3rem 0;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-list-item {
  margin-bottom: 1rem;
}

.footer-list-link {
  font-size: 1rem;
  text-decoration: none;
  color: #bbb;
}

.contact p {
  font-size: 1rem;
  color: #bbb;
  margin-bottom: 4rem;
}

.footer-form {
  display: flex;
}

.footer-input {
  width: 16rem;
  height: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  color: #444;
  outline: none;
  border: none;
}

.footer-btn {
  height: 2.5rem;
  background-color: #b85d1c;
  color: #ddd;
  border: none;
  cursor: pointer;
}

.gallery {
  max-width: 45rem;
}

.image-wrapper {
  width: 12rem;
  margin: 0.4rem;
  overflow: hidden;
}

.footer-image {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: all 0.5s;
}

.gallery-images {
  display: flex;
  flex-wrap: wrap;
}

.footer-image:hover {
  transform: scale(1.3);
  opacity: 0.75;
  cursor: pointer;
}
